html,
body {
	margin: 0;
	height: 100vh;
	width: 100vw;
	overflow:hidden;}

body {
	font-family: 'Chakra Petch', sans-serif;
	font-weight: 700;
	background-image: url('Background_MilkyWayFike8972.jpg');
	background-position: center;
	background-repeat: no-repeat;
	background-size: cover;}

/* Nav Bar*/
.nav-wrapper {
	display: flex;
	position: relative;
	flex-direction: row;
	flex-wrap: nowrap;
	align-items: center;
	justify-content: space-between;
	margin: auto;
	width: 95%;
	height: 80px;
	border-radius: 0 0 10px 10px;
	padding: 0 25px;
	z-index: 2;
	background: transparent;
	box-shadow: none;
}

.logo-container {
	display: flex;
	justify-content: center;
	align-items: center;
}

.logo {
	height: 70px;
}

.nav-tabs {
	display: flex;
	font-weight: 600;
	font-size: 18px;
	list-style: none;
    color: white;
}

.nav-tab:not(:last-child) {
	padding: 10px 25px;
	margin: 0;}

.nav-tab:last-child {
	padding: 10px 0 0 25px;
}

.nav-tab,
.menu-btn {
	cursor: pointer;
}

.hidden {
	display: none;
}
/*Nav Bar Ends*/

/* Main section */

.Presentation{
	display: flex;
	justify-content: center;
	align-items: center;
	text-align: start;
	color: whitesmoke;
	height: 60%;
	width: 100%;
	margin-bottom: 0;
	padding-bottom: 0;
	}

.main{font-family: 'Russo One', sans-serif;
	font-size: 5vw;
	font-weight: lighter;
	padding: 0 0 0 0;
	overflow: hidden; /* Ensures the content is not revealed until the animation */
    border-right: .15em solid orange; /* The typwriter cursor */
    white-space: nowrap; /* Keeps the content on a single line */
    margin: 0 auto; /* Gives that scrolling effect as the typing happens */
    letter-spacing: .15em; /* Adjust as needed */
    animation: 
	typing 4.5s steps(40, end),
    blink-caret .75s step-end infinite;
}

/* The typing effect */
@keyframes typing {
  from { width: 0 }
  to { width: 100% }
}

/* The typewriter cursor effect */
@keyframes blink-caret {
  from, to { border-color: transparent }
  50% { border-color: whitesmoke; }
}


.sub{font-family: 'Urbanist', sans-serif;
	font-size: 3vw;
	font-weight: lighter;
	padding-top: 0px;
	margin-top: 3px;
	margin-bottom: 0px;
	padding-bottom: 0px;
}

.button{
	display: flex;
	justify-content: center;
    align-items: center;
	text-align: center;
	padding: 0;
	margin: 0;
}
.email{
	text-decoration: none;
	color: whitesmoke;
	font-family:'Russo One', sans-serif;
	font-size: 1rem;
	font-weight: lighter;
	padding: 14px;
	margin: 0;
	border: solid whitesmoke 1px;
	border-radius: 4px;

}


/*Main Section Ends*/

/* Footer*/

footer{
	position: absolute;
	bottom: 0;
	height: 15px;
	width: 100%;
	background-color:transparent;
	z-index: -1;
	text-align: end;
	font-family: Arial, Helvetica, sans-serif;
	color: whitesmoke;
	font-size: 0.5rem;
	font-weight: lighter;
	padding: 0;
	margin:0;
}

p{margin: 3px 3px 5px auto;

}

/* Footer Ends*/

/* Responsive */
@media screen and (max-width: 800px) {
	.nav-container {
		position: fixed;
		display: none;
		overflow-y: auto;
		z-index: -1;
		top: 0;
		right: 0;
		width: 280px;
		height: 100%;
		background: black;
		box-shadow: -1px 0 2px rgba(0, 0, 0, 0.2);
        color: white;
        border-color: white;
        border-style: solid;
        border-width: 0px 0px 0px 0px;
	}

	.nav-tabs {
		flex-direction: column;
		align-items: flex-end;
		margin-top: 80px;
		width: 100%;
        color: white;}

	.nav-tab:not(:last-child) {
		padding: 20px 25px;
		margin: 0;
		border-right: unset;}

	.nav-tab:last-child {
		padding: 15px 25px;
	}

	.menu-btn {
		position: relative;
		display: block;
		width: 25px;
		height: 20px;
		cursor: pointer;
		z-index: 2;
		padding: 5px;
		border-radius: 10px;
		margin-right: 20px;
       }

	.menu-btn .menu {
		display: block;
		width: 100%;
		height: 4px;
		border-radius: 2px;
		background: white;
    }

	.menu-btn .menu:nth-child(2) {
		margin-top: 4px;
		opacity: 1;
	}

	.menu-btn .menu:nth-child(3) {
		margin-top: 4px;
	}

	#menuToggle:checked + .menu-btn .menu {
		transition: transform 0.2s ease;
	}

	#menuToggle:checked + .menu-btn .menu:nth-child(1) {
		transform: translate3d(0, 6px, 0) rotate(45deg);
	}

	#menuToggle:checked + .menu-btn .menu:nth-child(2) {
		transform: rotate(-45deg) translate3d(-5.71429px, -6px, 0);
		opacity: 0;
	}

	#menuToggle:checked + .menu-btn .menu:nth-child(3) {
		transform: translate3d(0, -6px, 0) rotate(-45deg);
	}

	#menuToggle:checked ~ .nav-container {
		z-index: 1;
		display: flex;
		animation: menu-slide-left 0.3s ease;
	}
	@keyframes menu-slide-left {
		0% {
			transform: translateX(200px);
		}
		to {
			transform: translateX(0);
		}
	}
}
